.footer-div {
    margin-top: 68px;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    transition: 2s ease;
}


.footer-div p{
    transition: 2s ease;
}

.footer-div span{
   
    transition: 2s ease;

} 

.footer-div:hover{
    span{

        font-size: 130%
    }
    
}






@media (max-width: 768px) {

    .projectcard-holder {
        width: 95%;
        gap: 30px;
    }

    .project-card {
        width: 100%;
        max-width: 350px;
        height: auto;
    }

    .project-img {
        height: 180px;
    }

    .project-content {
        font-size: 14px;
    }

    .project-button-container {
        width: 100%;
        justify-content: center;
        gap: 10px;
    }
}